@import "tailwindcss";

.fade-top {
  -webkit-mask: linear-gradient(to bottom, transparent 0%, black 15%, black 100%);
  mask: linear-gradient(to bottom, transparent 0%, black 15%, black 100%);
}

.fade-bottom {
  -webkit-mask: linear-gradient(to top, transparent 0%, black 15%, black 100%);
  mask: linear-gradient(to top, transparent 0%, black 15%, black 100%);
}